/* ---SECTION--- */
/* Main section */
header{
	background-color : #D2A6FF;
}

body{
	background-color : #6B36BD;
}

nav{
	background-color : #B5ABFF;
	margin-bottom: 3em;
}

footer{
	background-color : #E42DFE;
}

img{
	display: block;
    margin-left: auto;
    margin-right: auto
}

p{
	margin: 0em;
}

h1{
	text-align: center
}

h4{
	text-align: center
}

/* ---CLASS--- */
/* Main section */
.HeaderText{
	text-align: center
}

.FooterText {
	text-align: center
}

.HeaderLogo{
	max-width:15%;
    height:auto;
}

.FooterLogo{
	max-width:5%;
    height:auto;
}

/* Bubble design*/
.bubble{
	margin: 1em 1em 1em 1em;
	background: #00bfb6;
	padding: 1em;
	text-align: center;
	font-weight: 900;
	color: #fff;
	font-family: arial;
	position:relative;
	border-radius: 0.5em;
}

.right{
	margin-left: 25%;
}

.left{
	margin-right: 25%;
}

/* Triangle close to the bubble design*/
.bubble_right:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid #00bfb6;
	border-right: 10px solid transparent;
	border-top: 10px solid #00bfb6;
	border-bottom: 10px solid transparent;
	right: -20px;
	top: 6px;
}

/* Triangle close to the bubble design*/
.bubble_left:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid #00bfb6;
	border-top: 10px solid transparent;
	border-bottom: 10px solid #00bfb6;
	left: -20px;
	bottom: 6px;
}

.user-input{
	margin-bottom: 2%;
	background: #00bfb6;
	padding: 1em;
	text-align: center;
	font-weight: 900;
	color: #fff;
	font-family: arial;
	position:relative;
	border-radius: 5px;
}

.generateImg{
	max-height: 4em;
	max-width: auto;
	background: white;
	border-radius:5em;
}

/* ---ID--- */
/* Main section */
#googleMap{
	height:15em;
	min-width:15em;
}

/* Text bar bubble design*/
#Input_bar{
	margin:0.1%;
}

#User_destination{
	width : 100%;
}

/*Tchat area*/
#Tchat {
	background-color: white;
	min-height:300em;
	overflow: auto;
	height: 30em;
}

#loading {
	height: 4em;
	max-width: 4em;
}
