{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<img src="/static/img/Tchat.png"
				alt="Tchat">
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-2">
		</div>
		
		<div class="col-md-8">
			<form action="/result" target="_self" method="get">
				<div class="form-goup">
					<label for="User_destination">Ou veux tu aller mon pitchoune?</label>
					<input type="text" class="form-control" id="User_destination" aria-describedby="User_destination" placeholder="Tape ton adresse ici!" required>
					
					<input type="submit" class="btn btn-primary" value="OK">
				</div>
				
			</form>
		</div>
		
		<div class="col-md-2">
		</div>
	</div>
</div>	
{% endblock %}
