{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
	<!-- Tchat Zone -->
	<div class="row d-flex justify-content-center">
		<div class="col-md-4" id="Tchat">
			<div class="container-fluid">
				<div class="row">
					<img src="/static/img/Tchat.png" alt="Tchat">
				</div>

				<div class="row bubble bubble_right">
					Ou veux tu aller mon pitchoune?
				</div>

				<div class="row bubble bubble_left">
					<input id="User_destination" placeholder="Tape ton adresse ici!" maxlength="30">
					<button id="Destination_btn" class="btn btn-primary" onclick="click_Destination_btn" type="button">Envoi</button>
				</div>
			</div>
		</div>
	</div>
</div>	
{% endblock %}
